<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile of <%= name.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <link rel="stylesheet" href="/css/dash.css">
    <script src="https://use.fontawesome.com/c024dd16cc.js"></script>


</head>

<body>
<%- include navbar %>

<div class="container">
    <div class="row">
        <h2 class="text-center">Dashboard</h2>
    </div>
    <% if(user == name.name) { %>
    <!--<form method="post" action="/editprofile" style="margin-bottom: 4vw">-->
    <div class="row">
        <div class="col-xs-5 col-md-6">
            <h4>Name:- <input id="fullName" type="text" placeholder="you can call me" value="<%= name.full_name %>">
            </h4>
            <br>
            <h4>I'm a :- <input id="bio" type="text" placeholder="a short bio" value="<%= name.bio %>"></h4></h4>
            <br>
            <h4>Website:- <input id="portfolio" type="text" placeholder="portfolio"
                                 value="<%= name.website %>"></h4></h4>
            <button id="update" class="btn btn-primary">Update <span id="load"></span></button>
        </div>
        <div class="col-xs-6">
            <h4>User Name:- <b><%= name.name %></b></h4>
            <br>
            <% if (lang){ %>
            <h4>
                Favourite Language:- <b><%= lang %></b>
            </h4>
            <% } %>
            <% if (!lang) { %>
            <h4>
                Favourite Language:- Give us hint by adding one snippet.
            </h4>
            <% } %>
            <br>
            <h4>
                Total No. of Snippets:- <b><%= count %></b>
            </h4>

        </div>
        <!--<input type="button" value="Submit">-->
    </div>
    <!--</form>-->
    <% } %>
    <% if(user != name.name) { %>
    <div class="row">
        <div class="col-xs-5 col-md-6">
            <h4>You can call me
                <b><%= name.full_name %></b>
            </h4>
            <br>
            <h4>I'm :-
                <b><%= name.bio %></b>
            </h4>
            <br>
            <h4>My Portfolio:-
                <b><%= name.website %></b>
            </h4>
            <br>
        </div>
        <div class="col-xs-6">
            <h4>Username:- <b><%= name.name %></b></h4>
            <br>
            <% if (lang){ %>
            <h4>
                Favourite Language: - <b><%= lang %></b>
            </h4>
            <% } %>
            <% if (!lang) { %>
            <h4>
                Favourite Language: - This person didn't have any snippet. How could we know this?
            </h4>
            <% } %>
            <br>
            <h4>
                Total No. of Snippets: <b><%= count %></b>
            </h4>
        </div>
    </div>
    <% } %>
    <div class="row">
        <h4 style="margin-left:2vw;">All Snippets</h4>
    </div>
    <div class="row">
        <% for (var i = 0; i < codes.length; i++) { %>
        <% if (codes[i].private == true && user == name.name){ %>
        <div class="col-md-3 col-sm-4 col-xs-12">

            <div class="panel panel-warning">
                <div class="panel-heading text-center">
                    <a href="/editsnip/<%= codes[i].id %>">
                        <p><%= codes[i].heading %><span> (Private)</span></p>
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center"><%= codes[i].lang %></p>
                </div>
                <div class="panel-footer">
                    <p class="text-center">Last updated on <i><%= codes[i].last_updated %></i></p>
                </div>
            </div>
        </div>
        <% } %>
        <% if (codes[i].private == false){ %>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="panel">
                <div class="panel-heading text-center heading">
                    <a href="/editsnip/<%= codes[i].id %>">
                        <p><%= codes[i].heading %></p>
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center"><%= codes[i].lang %></p>
                </div>
                <div class="panel-footer">
                    <p class="text-center">Last updated on <i>
                            <%= codes[i].last_updated %>
                        </i></p>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
</div>

<%- include footer %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src="/js/profile.js"></script>
<script src="/js/notify.min.js"></script>

</body>
</html>