<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile of <%= name.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <link rel="stylesheet" href="/css/dash.css">
    <script src="https://use.fontawesome.com/c024dd16cc.js"></script>


</head>

<body>
<%- include navbar %>

<div class="container">
    <div class="row">
        <h2 class="text-center">Dashboard</h2>
    </div>
    <% if(user==name.name) { %>
    <!--<form method="post" action="/editprofile" style="margin-bottom: 4vw">-->
        <div class="row">
            <div class="col-xs-5 col-md-6">
                <img src="https://s22.postimg.org/y8vuxtrpd/my_Avatar.png" alt="prof_image" class="img-responsive"/>
                <!--<input type="file" placeholder="Inser your peofile pic">-->
            </div>
            <div class="col-xs-6">
                <h4>Name:-
                    <% if (name) { %>
                    <!--<input type="text" value="<%= name.full_name %>">-->
                    <%= name.full_name %>
                    <% } %>
                </h4>
                <br>
                <h4>
                    Favorite Language: - <%= lang %>
                </h4>
                <br>
                <h4>
                    Total No. of Snippets: <%= count %>
                </h4>
            </div>
            <!--<input type="button" value="Submit">-->
        </div>
    <!--</form>-->
    <% } %>
    <% if(user!=name.name) { %>
    <div class="row">
        <div class="col-xs-5 col-md-6">
            <img src="https://s22.postimg.org/y8vuxtrpd/my_Avatar.png" alt="prof_image" class="img-responsive"/>
        </div>
        <div class="col-xs-6">
            <h4>Name:-
                <% if (name) { %>
                <span><%= name.full_name %></span>
                <% } %>
            </h4>
            <h4>
                Most Used Language: - <%= lang %>
            </h4>
        </div>
    </div>
    <% } %>
    <div class="row">
        <h4 style="margin-left:2vw;">All Snippets</h4>
    </div>
    <div class="row">
        <% for (var i = 0; i < codes.length; i++) { %>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <% if (codes[i].private == true){ %>
            <div class="panel panel-warning">
                <div class="panel-heading text-center">
                    <a href="/editsnip/<%= codes[i].id %>">
                        <p><%= codes[i].heading %><span> (Private)</span></p>
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center"><%= codes[i].lang %></p>
                </div>
                <div class="panel-footer">
                    <p class="text-center"><%= codes[i].last_updated %></p>
                    <% } %>
                    <% if (codes[i].private == false){ %>
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center heading">
                            <a href="/editsnip/<%= codes[i].id %>">
                                <p><%= codes[i].heading %></p>
                            </a>
                        </div>
                        <div class="panel-body">
                            <p class="text-center"><%= codes[i].lang %></p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-center">Last updated on <i>
                                <%= codes[i].last_updated %>
                                </i></p>
                            <% } %>

                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

    </div>
</div>

<%-include footer%>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src="/js/profile.js"></script>

</body>
</html>