<head>
    <meta charset="UTF-8">
    <title>SnipCode- Edit Snip</title>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css'>

    <link rel="stylesheet" href="/css/snip.css">
    <link rel="stylesheet" href="/lib/codemirror.css">
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script src="/mode/python/python.js"></script>
    <script src="/mode/ruby/ruby.js"></script>
    <script src="/mode/css/css.js"></script>
    <script src="/mode/shell/shell.js"></script>
    <script src="/mode/css/css.js"></script>
    <script src="https://use.fontawesome.com/c024dd16cc.js"></script>
</head>

<body>
<%-include navbar%>

<div class="container">
    <div class="row">
        <input id="codeId" type="hidden" value="<%= code.id %>">
        <h2 class="text-center"><%= code.heading %></h2>
    </div>
    <div class="row inp">

        <div class="window">
            <div class="window-header">
                <div class="action-buttons"></div>
                <div class="language">
                    <p id="lang"><%= code.lang %></p>
                </div>
            </div>
            <div class="window-body">
            <textarea id="demotext" class="code-input"><%= code.code_text %></textarea>
            </div>
        </div>
    </div>

    <% if (save) { %>
    <div class="row priv">

            <h4>Private &nbsp &nbsp
            <% if(code.private===true){ %>
            <input id="private" type="checkbox" checked data-toggle="toggle" data-style="ios">
            <% } %>
            <% if(code.private===false){ %>
            <input id="private" type="checkbox" data-toggle="toggle" data-style="ios">
            <% } %>
            </h4>
        <!--<div class="col-xs-4 col-sm-offset-1 col-md-2">-->

            <!--<span class="glyphicon glyphicon-tag"><input type="text" placeholder="Enter tags"></span>-->
        <!--</div>-->
    </div>
    <% } %>
    <% if (save) { %>
    <div class="row">
        <button id="save" class="btn btn-primary">Save</button>
    </div>
    <% } %>
    <div id="test"></div>
</div>
<%-include footer%>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js'></script>

<script src="/js/edit.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
        lineNumbers: true,
        matchBrackets: true
    });
    editor.setSize("100%");
    var language = $("#lang").text();
    console.log(language);
    if(language==="html")//working on this
        editor.setOption("mode", "htmlmixed");
    else
        editor.setOption("mode", language);
    var save = $("#save").text();
    if (!save)
        editor.setOption("readOnly", true);
</script>

</body>